<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<h1>start.js</h1>

<form name="deployer" onsubmit="return deploy()">
  Name to give the job: <input type="text" name="jobName"><br/>
  Docker image to use (this field is temporary): <input type="text" name="dockerImage" value="timpark/test"><br/>
  URL of Marathon instance: <input type="text" name="url" value="http://devdaymgmt.westus.cloudapp.azure.com/"><br/>
  <input type="submit" value="Submit"><br/>
</form>


</body>
</html>
